
body {
  background-color: beige;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Seymour One', sans-serif;
  text-align: center;
}

#width {
  opacity: 0;
  margin-bottom: 10px;
  text-align: center;
  transition-duration: .5s;
}

#container > * {
  display: inline-block;
}

#length {
  opacity: 0;
  vertical-align: middle;
  margin-right: 10px;
  transition-duration: .5s;
}

#area-box {
  border: 2px solid blue;
  background-image: url("img/carpet.jpeg");
  width: 0px;
  height: 20px;
  background-size: 50px;
  vertical-align: middle;
  opacity: 0;
  transition-duration: .9s;
  color: blue;
  font-size: 100px;
  text-align: center;
}
